/* CUSTOM STYLES */

@font-face{
  font-family:'CenturyGothic'; src:url('../font/CenturyGothic.ttc');
}

header {position: absolute;left: 0;right: 0;z-index: 2;top: 6%;}
header img {max-width:150px !important;}

a {color:#5768dd;}
a:hover, a:focus {text-decoration:none;outline:none;transition:.6s;opacity:.5;}

.fileter-inicio {position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: rgb(6 11 46 / 60%);}

.slide-home {position:relative;}
#first .principal {width:100%;background-position: center !important;background-size: cover !important;display:flex;align-items:center;justify-content:flex-start ;flex-direction:column;}
#first .principal h1 {font-family: 'Libre Franklin', sans-serif;font-weight: bold;color: #fff;font-size: 5em;line-height: 1;margin: 0}
#first .principal p {font-family: 'Libre Franklin', sans-serif;color: #fff;font-weight: 600;font-size: 17px;margin: 20px 0 35px;max-width:80%;}
#first .principal a {font-family: 'Libre Franklin', sans-serif;font-weight: 600;color: #595c74;background: #fff;padding: 13px 35px;text-align:center;display: inline-block;font-size: 11px;border-radius: 30px;}

#first .history {width:100%;background-position: top center !important;background-size: cover !important;display:flex;align-items:center;justify-content:flex-start ;flex-direction:column;}
#first .history h4 {color: #fff;font-size: 50px;font-family: 'Libre Franklin', sans-serif;line-height: 1;}
#first .history .container {display:flex;align-items:center;justify-content:center;min-height:95vh;}
#first .history p {font-family: 'Libre Franklin', sans-serif;color: #fff;font-weight: 600;font-size: 30px;margin:-25% 0 35px;line-height:normal;}
#first .history span {display:none;}
#second {position: absolute;bottom: 0;left: 0;right: 0;background: rgb(0 0 0 / 55%);padding:0px 0;z-index:3;padding:10px 0 0;min-height:250px;display:flex;align-items: flex-end;}
#second p {font-family: 'Libre Franklin', sans-serif;color: #fff;font-weight: normal;font-size: 15px;margin:0;}
#second img {max-width:325px;}

.owl-carousel .owl-stage {display:flex;align-items:center;justify-content:center;}

#second02, #second03, #second04, #second05,#second06,#second07 {position: absolute;bottom: 0;left: 0;right: 0;background: rgb(0 0 0 / 55%);padding:0px 0;z-index:5;min-height:250px;padding:10px 0;}
#second02 p, #second03 p, #second04 p, #second05 p, #second06 p, #second07 p {font-family: 'Libre Franklin', sans-serif;color: #fff;font-weight: normal;font-size: 15px;margin:0;}
#second02 img, #second03 img, #second04 img, #second05 img, #second06 img, #second07 img {max-width:325px;}

#second04 img.mx-w01 {max-width: 125px;}
#second04 img.mx-w02 {max-width: 160px;}

#second07 h4 {font-family: 'Libre Franklin', sans-serif;color: #fff;font-size: 35px;}

#first .history h1 {font-family: 'Libre Franklin', sans-serif;font-weight: bold;color: #fff;font-size:45px;line-height: 1;margin:0 0 30%;}

.content-buttons {margin: 0 15px;}
.content-buttons h6 {text-transform:uppercase;color: #fff;font-family: 'Libre Franklin', sans-serif;font-weight: normal;font-size: 13px;margin: 0;max-width:65%;font-weight:bold;}
.content-buttons a {transition:.6s;font-family: 'Libre Franklin', sans-serif;color: #fff;font-size: 10px;display: inline-block;margin: 15px -5px 0;border: 2px #fff solid;border-radius: 30px;padding: 8px 30px;}

.owl-theme .owl-dots {position: absolute;left: 20px;bottom: 10px;}
.owl-theme .owl-dots .owl-dot span {width: 7px;height: 7px;margin: 5px 3px;}

.owl-theme .owl-nav {position: absolute;right: 0;bottom: 15px;background: rgb(255 255 255 / 50%);border-radius: 25px;display: flex;align-items: center;justify-content: center;padding: 15px 9px 22px;}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {color: #000;font-size: 30px;width: 29px;opacity: 1;margin: 0;display: inline-block;line-height: 0px;}
.owl-theme .owl-nav button span {line-height:0;font-family: 'Libre Franklin', sans-serif;}

.content-contact {position: absolute;bottom: 25%;right: 0;z-index: 6;transition:.6s;}
.content-contact .conteiner-contact {display: inline-block;text-align: right;width: 100%;}
.content-contact .content-icon p {font-weight: 500;position: relative;z-index: 1;color: #fff;font-family: 'Libre Franklin', sans-serif;margin: 0px 10px;font-size: 9px;}
.content-contact .content-icon {cursor:pointer;position: relative;z-index: 2;margin-right: 10px;max-width: 190px;text-align: center;padding: 12px 15px 10px;}
.content-contact .content-icon::after {transition: .6s;content: '';background: #5768dd;position: absolute;right: 0;left: 0;top: 0;bottom: 0;border-radius: 30px;}
.content-contact .icon-contact {padding: 9px 10px 14px 16px;border-radius: 30px 0px 0px 30px;cursor:pointer;position:relative;z-index:1;}
.content-contact .icon-contact img {max-width:20px;}

.content-contact .content-icon:hover::after {transition:.6s;opacity:.5;} 

.form-slide.show-contact {transition:.6s;transform: translate(0, 0);opacity:1;}
.form-slide {opacity:0;transition:.6s;transform: translate(100%, 0);max-width: 100%;width: 100%;position: absolute;top: 0;background: rgb(255 255 255 / 25%);padding: 30px 80px 30px 30px;right: 0;border-radius: 40px 0px 0px 40px;bottom: 0;left: 0;}
.form-slide input {width: 100%;border: none;display: block;margin: 0 0 5px;padding: 5px 15px;font-size: 12px;border-radius: 5px;color: #000;font-family: 'Libre Franklin', sans-serif;}
.form-slide input[type="submit"] {background:#5768dd;color: #fff}

.form-contact {width:100%;margin: 10px 0;} 
.form-contact input, .form-contact select {width: 100%;border: 1px #fff solid;display: block;margin: 0 0 5px;padding: 5px 15px;font-size: 12px;border-radius: 5px;color: #000;font-family: 'Libre Franklin', sans-serif;background:none;color: #fff}
.form-contact input[type="submit"] {background:#5768dd;color: #fff;border: none;}

.form-contact input::placeholder {
  color: #fff;
}

.form-slide input::placeholder {
  color: #000;
}

.carousel-control-next, .carousel-control-prev {width:auto;}
.content-arrow-right {background: #000;padding: 10px 9px 13px 19px;border-radius: 30px 0 0px 30px;}
.content-arrow-right img {max-width: 14px;}

.content-arrow-left {background: #000;padding:10px 17px 12px 11px;border-radius: 0px 30px 30px 0px;}
.content-arrow-left img {max-width: 14px;}

.modal-form {position: absolute;top: 0;bottom: 0;left: 0;right: 0;background: rgb(0 0 0 / 60%);display: flex;align-items: center;justify-content: center;z-index: 9999;}
.modal-form h3 {color: #fff;font-size: 24px;margin: 0 0 50px;font-family: 'Libre Franklin', sans-serif;}
.modal-form .contant-form {width:100%;background: #fff;padding: 35px;border-radius: 25px;} 
.modal-form .contant-form input, .modal-form .contant-form select {width: 100%;border: 1px #000 solid;display: block;margin: 0 0 5px;padding: 5px 15px;font-size: 12px;border-radius: 5px;color: #000;font-family: 'Libre Franklin', sans-serif;background:none;}
.modal-form .contant-form input[type="submit"] {background:#5768dd;color: #fff;border: none;}
.modal-form .icon-contact {background: #5768dd;padding: 2px 9px 7px;border-radius: 100%;cursor: pointer;position: absolute;right: 10px;top:-10px;}
.modal-form .icon-contact img {max-width:13px;}

.contant-form .field-label {font-size: 13px;margin: 0;font-family: 'Libre Franklin', sans-serif;}
.form-contact .field-label {font-size: 13px;margin: 0;font-family: 'Libre Franklin', sans-serif;color: #fff}

.navPrev,.navPrev03, .navPrev04, .navPrev05 {
  position: absolute;
  bottom: 13%;
  left: 0;
  width: auto;
  height: auto;
  background: rgb(0 0 0 / 17%);
  z-index: 9;
  padding: 10px 10px;
  transition:.6s;
  cursor:pointer;
}


.navPrev span, .navPrev03 span, .navPrev04 span, .navPrev05 span {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 170px;
    cursor:pointer;
}


.navPrev span img, .navPrev03 span img, .navPrev04 span img,.navPrev05 span img {
    position: relative;
    margin: auto 0px;
    cursor: pointer;
    width: 100%;
    max-width: 80px;
    height: 55px;
    object-fit: cover;
    object-position: center;

}

.navPrev:hover, .navNext:hover {transition:.6s;opacity:.5;}
.navPrev03:hover, .navNext03:hover {transition:.6s;opacity:.5;}
.navPrev04:hover, .navNext04:hover {transition:.6s;opacity:.5;}
.navPrev05:hover, .navNext05:hover {transition:.6s;opacity:.5;}
.navPrev p, .navNext p {color: #fff;font-size: 8px;margin: 0 9px;font-family: 'Libre Franklin', sans-serif;}
.navPrev03 p, .navNext03 p {color: #fff;font-size: 8px;margin: 0 9px;font-family: 'Libre Franklin', sans-serif;text-transform:uppercase;}
.navPrev04 p, .navNext04 p {color: #fff;font-size: 8px;margin: 0 9px;font-family: 'Libre Franklin', sans-serif;text-transform:uppercase;}
.navPrev05 p, .navNext05 p {color: #fff;font-size: 8px;margin: 0 9px;font-family: 'Libre Franklin', sans-serif;text-transform:uppercase;}

.navNext, .navNext03,.navNext04, .navNext05 {
  position: absolute;
  bottom: 13%;
  right: 0;
  width: auto;
  height: auto;
  background: rgb(0 0 0 / 17%);
  z-index: 9;
  padding: 10px 10px;
  transition:.6s;
  cursor:pointer;
}



.navNext span, .navNext03 span, .navNext04 span, .navNext05 span {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 170px;
}


.navNext span img, .navNext03 span img,.navNext04 span img, .navNext05 span img {
    position: relative;
    margin: auto 0px;
    cursor: pointer;
    width: 100%;
    max-width: 80px;
    object-fit: cover;
    object-position: center;
    height: 55px;
}

.dispaly-check {display: flex;align-items: flex-start;margin-top: 12px;}
.modal-form .dispaly-check input {display: inline-block;width: auto;margin-top: 5px;margin-right: 5px;}
.form-contact .dispaly-check input {display: inline-block;width: auto;margin-top: 5px;margin-right: 5px;}
.dispaly-check label {font-family: 'Libre Franklin', sans-serif;font-size:14px;text-align:left;}

@media only screen 
  and (max-width: 1025px){
    .content-buttons h6 {max-width:inherit;}
    .legla-02-responsive, .legla-01-responsive {bottom:20px !important;}
    .legla-02-responsive small,.legla-01-responsive small {font-size:9px !important;}
    .navNext span img, .navNext03 span img, .navNext04 span img, .navNext05 span img, .navPrev span img, .navPrev03 span img, .navPrev04 span img, .navPrev05 span img {max-width:40px;height:40px;}
    .navPrev03 p, .navNext03 p, .navPrev p, .navNext p, .navPrev04 p, .navNext04 p, .navPrev05 p, .navNext05 p {display:none !important;}
    #second02 img, #second03 img, #second04 img, #second05 img, #second06 img, #second07 img {max-width: 265px;}
    .navPrev, .navPrev03, .navPrev04, .navPrev05 {padding:13px 18px;}
    #first .history p {padding:0 0 0 30px;}
    #second p, #second02 p, #second03 p, #second04 p, #second05 p, #second06 p {padding:0 0 0 30px;font-size: 14px;}
    #second07 p {font-size:14px;}
    #second img {max-width:303px;}
    #second, #second02, #second03, #second04, #second05, #second06, #second07 {min-height: 210px;}
    .modal-form h3 {font-size: 21px;}
  }

@media only screen 
  and (max-width: 767px){

    .principal {background:url('../images/img-home-01-responsive.jpg') !important;}
    .item01 {background:url('../images/img-historia-01-responsive.jpg') !important;}
    .item02 {background:url('../images/img-historia-02-responsive.jpg') !important;}
    .item03 {background:url('../images/img-historia-03-responsive.jpg') !important;}
    .item04 {background:url('../images/img-historia-04-responsive.jpg') !important;}
    .item05 {background:url('../images/img-historia-05-responsive.jpg') !important;}
    .item06 {background:url('../images/img-historia-06-responsive.jpg') !important;}
    .item07 {background:url('../images/img-historia-07-responsive.jpg') !important;}
    .item01-no-r-fil .fileter-inicio {display:none;}
    .item02-no-r-fil .fileter-inicio {display:none;}
    .item03-no-r-fil .fileter-inicio {display:none;}
    .item04-no-r-fil .fileter-inicio {display:none;}
    .item05-no-r-fil .fileter-inicio {display:none;}
    .item06-no-r-fil .fileter-inicio {display:none;}
    #first .history h4 {font-size:30px;margin-bottom:37%;}
    #first .principal .container {min-height:100vh !important;}
    #first .principal .container .row {margin-top:auto;margin-bottom:30%;}
    #first .principal p {max-width:100%;}
    .carousel-control-next, .carousel-control-prev {z-index:12;}
  	#second,#second02,#second03,#second04,#second05,#second06,#second07 {padding:35px 0 0;min-height: 380px;}
    .content-buttons {width:100%;text-align:center;}
    #second p,#second02 p, #second03 p, #second04 p, #second05 p, #second06 p, #second07 p {text-align:left;font-size: 12px;}
    .content-contact {bottom: 2%}
    #second img, #second02 img, #second03 img, #second04 img, #second05 img, #second06 img, #second07 img {max-width:270px;margin: 0 auto}
    #first .history p {font-size:21px;margin:-90% 0 35px;}
    #second07 h4 {text-align:center;}
    .content-contact {z-index:14;}
    #first .history h1 {margin: 0 0 100%;font-size:3em;}
    #first .principal h1 {font-size: 48px;}
    .content-buttons h6 {max-width:100%;margin:20px 0 5px;font-size: 12px;font-weight:bold;}
    .navNext, .navNext03, .navNext04, .navNext05, .navPrev, .navPrev03, .navPrev04, .navPrev05 {bottom: 36%}

    #second .col-12.col-md-7.d-flex, #second02 .col-12.col-md-7.d-flex, #second03 .col-12.col-md-7.d-flex, #second04 .col-12.col-md-7.d-flex, #second05 .col-12.col-md-7.d-flex, #second06 .col-12.col-md-7.d-flex, #second07 .col-12.col-md-7.d-flex {flex-direction:column-reverse;}
    #second04 .col-12.col-md-5.d-flex {flex-direction:column-reverse;}
    #second04 img.mx-w01 {margin-top:15px;max-width: 115px;}

    .navNext, .navNext03, .navNext04, .navNext05 {bottom: 55%;padding:15px 11px 15px 20px;background:rgb(255 255 255 / 50%);border-radius:30px 0px 0px 30px;z-index: 99;}
    .navPrev, .navPrev03, .navPrev04, .navPrev05 {bottom: 55%;padding:15px 20px 15px 11px;background:rgb(255 255 255 / 50%);border-radius:0px 30px 30px 0px;z-index: 99;}
    .navNext span img, .navNext03 span img, .navNext04 span img, .navNext05 span img {max-width:20px;height:20px;}
    .navPrev span img, .navPrev03 span img, .navPrev04 span img, .navPrev05 span img {max-width:20px;height:20px;transform: rotate(180deg);}

    #first .history h1 {font-size:26px;}
    #second07 h4 {font-size:23px;}

    .content-arrow-right, .content-arrow-left {background: rgb(255 255 255 / 50%);}

    .carousel-control-next, .carousel-control-prev {bottom:17%;opacity:1;}
    .content-arrow-right img, .content-arrow-left img {max-width:12px;}
    .owl-carousel .owl-stage {align-items: flex-start;}

    .cust-01-responsive h6 {margin-bottom: -30px !important;margin-top: 30px !important;}
    .legla-01-responsive {bottom: 15px !important;text-align:left !important;line-height: 1;}
    .legla-02-responsive {line-height:1;bottom: -5px !important;}
    #second04 img.mx-w02 {max-width:106px;}

    #second {align-items:flex-start;}
    .content-contact {bottom:23em;}
    .content-contact .content-icon {max-width:inherit;padding:10px 10px 9px;max-width: 130px;}
    .content-contact .content-icon p {font-size:10px;}

    .content-arrow-left {padding:12px 20px 14px 12px;}
    .content-arrow-right {padding:10px 11px 15px 20px;}
}

@media only screen 
  and (max-width: 380px){
    #first .history p {font-size: 17px;margin: -220px 0 35px;}
    #first .history h4 {font-size:28px;}
    #second, #second02, #second03, #second04, #second05, #second06, #second07 {min-height:280px;}
    #second p, #second02 p, #second03 p, #second04 p, #second05 p, #second06 p, #second07 p {font-size:11px;}
    #second04 img.mx-w01 {max-width: 80px;}
    #second img, #second02 img, #second03 img, #second04 img, #second05 img, #second06 img, #second07 img {max-width:210px;}
    .content-buttons h6 {font-size:11px;}
    #first .history h1 {font-size: 21px;margin: 0 0 125%}
    .dispaly-check label, .form-contact input, .form-contact select {font-size:10px;}
    .content-contact {bottom:16em}
    .cust-btn-res .content-contact {bottom: 18em;}
    .cust-btn-res02 .content-contact {bottom:18em;}

  }
